<ion-view view-title="Informacje">
  <ion-content>
    <h1 style="text-align:center">Tell me a story</h1>
      <h2>Instrukcja</h2>
      <p>Aplikacja pozwalająca układać historie</p>

      <h3>Losowanie</h3>
      <p>Należy wylosowac zestaw symboli, a następnie ułozyć historię zawierającą wszystkie przedstawione symbole</p>

      <h3>Scenariusze</h3>
      <p>Należy wybrac scenariusz i opowiedziec historię według punktów i powiąznych z nimi symboli</p>
      <p>Aby zobaczyć opis punktu w scenariuszu, przytrzymaj dłużej dany element</p>
  </ion-content>
</ion-view>
