<ion-view view-title="Informacje">
    <ion-content style="margin-left:8px;">
        <h1 style="text-align:center">Tell me a story</h1>
        <h2>Instrukcja</h2>
        <p>Aplikacja służy do generowania zestawów obrazków, na bazie których można układać historie.</p>
        <h3>Cel</h3>
        <p>
            Wylosuj zestaw symboli, a następnie ułóż historię, w której fabułę wprowadzisz wszystkie przedstawione symbole.
            Wplataj symbole w dowolnej kolejności, tak aby zachować spójność opowieści.
        </p>
        <h3>Scenariusze</h3>
        <p>Wybierz scenariusz i opowiedz historię według punktów i powiąznych z nimi symboli.</p>
        <p>Aby zobaczyć opis punktu w scenariuszu, przytrzymaj dłużej dany element.</p>
    </ion-content>
</ion-view>
