<ion-view view-title="Search">
    <ion-content scroll="true" scrollbar-y="true">

        <button class="button button-block button-positive" ng-click="randomTiles()">
            Wylosuj
        </button>
        <div class="row" ng-repeat="tile in tiles">
            <div class="row">
                <div class="col col-33" ng-repeat="item in tile">
                    <div class="card">
                        <i class="dice fa" ng-class="item.iconClass"></i>
                    </div>
                </div>
            </div>

            </div>
    </ion-content>
</ion-view>
