<ion-view view-title="Monomit">

    <ion-content>
        <button class="button button-full button-positive"
                ng-click="generate()">
            Wylosuj
        </button>
        <button class="button button-full button-positive"
                ng-click="saveTiles(stagesObject)">
            Zapisz ustawienie
        </button>
        <div class="list monomit">
            <ul>
                <li ng-repeat="stage in stagesObject.stages"
                    style="-webkit-transition-delay:{{$index * 300}}ms"
                    class="item item-checkbox animateItem"
                    on-hold="showHint('{{stage.hint}}')">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                        {{stage.name}}
                    <i class="fa icon" ng-class="stage.iconClass"></i>
                </li>
            </ul>

        </div>
    </ion-content>
</ion-view>
