/* Empty. Add your own CSS if you like */

.dice.icon {
    font-size: 5em;
    text-align: center;
    width: 100%;
}
.card {
    text-align:center;
}

    

        .animateItem.ng-move,
.animateItem.ng-enter,
.animateItem.ng-leave {
  
          -webkit-transition-property: all;
          -webkit-transition-timing-function: ease-out-cubic;
          -webkit-transition-duration: 400ms;
}

.animateItem.ng-leave.ng-leave-active,
.animateItem.ng-move,
.animateItem.ng-enter {
  -webkit-transform:scale(0);
}

.itemanimateItem.ng-leave,
.animateItem.ng-move.ng-move-active,
.animateItem.ng-enter.ng-enter-active {
  -webkit-transform:scale(1);
}