/* Empty. Add your own CSS if you like */

.dice.icon {
    font-size: 18vw;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.monomit .icon {
    font-size: 8vw;
    float: right;
}

.card {
    text-align: center;
    margin: 0;
}

.biggerShadow {
        box-shadow: 0 0 2px 2px #0C60EE;
}



.animateItem.ng-move,
.animateItem.ng-enter,
.animateItem.ng-leave {
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out-cubic;
    -webkit-transition-duration: 400ms;
}

    .animateItem.ng-leave.ng-leave-active,
    .animateItem.ng-move,
    .animateItem.ng-enter {
        -webkit-transform: scale(0);
    }

        .itemanimateItem.ng-leave,
        .animateItem.ng-move.ng-move-active,
        .animateItem.ng-enter.ng-enter-active {
            -webkit-transform: scale(1);
        }

.tile .card:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.tile .card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.monomit .item {
    display: flex;
    align-items: center;
}

    .monomit .item .icon {
        display: flex;
        justify-content: flex-start;
        margin-left: auto;
    }
